*{
    margin: 0;
    padding: 0;
}
/*header*/
header{
    padding: 22px 0;
}
.m_div{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 22px 0 20px;
}
.m_div nav ul{
    list-style: none;
    display: flex;
}
.m_div nav ul li{
    margin-left: 32px;
}
.m_div nav ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    color: #1B1A1A;
}
.m_div nav ul li:nth-child(6) a{
    padding: 11px 20px; background: #1B1A1A;
    border-radius: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: #FFFFFF;
}
/*header*/
/*main*/
main section {
    padding: 137px 0 128px;
    background-color: #ECE7E4;
    position: relative
}
main section div{
    max-width: 1240px;
    margin: auto;
}
main section div h3{
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
main section div h1{
    font-family: 'Poppins';
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
}
main section div p{
    max-width: 509px;
    margin-bottom: 41px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}
main section div a{
    font-family: 'Poppins';
    margin-left: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}
main section .log_div{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-image: url('../img/IMAGE.jpg');
    background-size: cover
}
/*main*/

/*section our_firm*/
.our_firm{
    background: #E5E5E5;
}
.main_our_firm{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 100px 0;
    max-width: 768px;
}
.main_our_firm h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;   
}
.Senior{
    max-width: 501px;
}
.Senior p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    margin-bottom: 10px;
}
.Stephen{
    padding-top: 8px;
    display: flex;
    align-items: center;
}
.Stephen span{
    margin-left: 30px;
}
.Stephen span h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;    
}
.Stephen span p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;    
}
/*section2 our_firm*/


/*section2*/
.art_sec{
    padding: 100px 0;
    text-align: center;
}
.art_sec .m_ddiv{
    max-width: 1168px;
    margin: auto;
}
.art_sec .m_ddiv h3{
    font-family: 'Poppins'; margin-bottom: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.art_sec .m_ddiv h2{
    font-family: 'Poppins';
    margin-bottom: 47px;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    text-align: center;
    color: #1B1A1A;
}
.art_sec .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
}
.art_sec .m_ddiv .d_art{
    display: flex;
    justify-content: center;
}
.owl-dots{
    display: flex;
    justify-content: space-around;
}
.art_sec .owl-carousel .owl-dots button.owl-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #403E3B;
}
.art_sec .owl-carousel .owl-dots button.owl-dot.active{
    background-color: #7B4F3E;    
}
.art_sec .m_ddiv .d_art article{
    max-width: 259px;
    text-align: center;
}
.owl-carousel .owl-item img{
    width: 117px;
    height: 102px;
    padding-left: 73px;
}
.art_sec .m_ddiv .d_art article:nth-child(1) h3{
    font-family: 'Poppins';
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #403E3B;
}
.art_sec .m_ddiv .d_art article:nth-child(1) p{
    font-family: 'Poppins'; margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
}
.art_sec .m_ddiv .d_art article:nth-child(2) h3{
    font-family: 'Poppins';
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #403E3B;
}
.art_sec .m_ddiv .d_art article:nth-child(2) p{
    font-family: 'Poppins';
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
}
.art_sec .m_ddiv .d_art article:nth-child(3) h3{
    font-family: 'Poppins';
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #403E3B;
}
.art_sec .m_ddiv .d_art article:nth-child(3) p{
    font-family: 'Poppins'; margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
}
/*section2*/

/*section3*/
.sec_section{
    padding: 100px 0 100px 0;
    background: #CEC4BC;
}
.sec_section div{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.sec_section div h4 a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.sec_section div a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}
.sec_section div:nth-child(2){
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.sec_section div:nth-child(2) h1 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-decoration: none;
    color: #1B1A1A;
}
/*section3*/
/*footer*/
footer{
    padding: 60px 0 60px 0;
    background: #F7F7F7;
    border-radius: 0px;
}
footer .logo_div {
    max-width: 1200px;
    margin: auto;
}
footer .logo_div .footer_div{
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    padding-top: 20px;
}
.footer_div p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
}
.footer_div span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #645C55;
}
.ul_div ul{
    list-style: none;
    display: flex;
    padding-top: 30px
}
.ul_div ul li{
    margin-left: 32px
}
/*footer*/
/*customers*/
.customers{
    background: #403E3B;
}
.m_customers{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    padding: 60px 0 60px;
}
.prior_clients{
    max-width: 460px;
    padding: 65px 0;
}
.prior_clients h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ECE7E4;
}
.prior_clients h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}
.prior_clients p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
}
.my_flex_client a:nth-child(1){
    margin-right: 96px;
}
.my_flex_client a:nth-child(3){
    margin-right: 96px;
}
.my_flex_client{
    margin-right: 144px;
    display: flex;
    max-width: 432px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/*customers*/
/*team_section*/
.team_section{
    background-color: #E5E5E5;
}
.team_section .main_team_div{
    max-width: 1200px;
    margin: auto;
    padding: 100px 0;
    display: flex;
}
.left_div{
    max-width: 379px;
}
.left_div h2{
    padding-top: 4px;
    padding-bottom: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}
.left_div p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 41px;
    line-height: 24px;
    color: #645C55;
}
.left_div a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin-left: 25px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
}
.centr_div{
    margin-left: 37px;
    max-width: 633px;
}
.my-flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.my-flex-block{
    max-width: 280px;
    display: flex;
    align-items: center;

}
.margin_img{
    margin: 8px 0;
    margin-right: 30px;
}

.Nolan_Peters{
    display: flex;
    align-items: center;
    max-width: 258px;
}
.Stephen_Ferris_Niko{
    margin-right: 144px;
}

.Aria_Stone{
    display: flex;
    align-items: center;
    max-width: 247px;
}

.Niko_Ferry{
    align-items: center;
    display: flex;
    max-width: 231px;
}

.team_name h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
    margin-right: 26px;
}
.team_name p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
    margin-right: 35px;
}
.margin_h{
    margin-right: 26px;
}
.margin_p{
    margin-right: 35px;
}
/*team_section*/
/*section*/
.reeding{
    min-height: 600px;
    background-image: url("../img/reactangle.jpg");
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;
}
.description{
    max-width: 285px;   
}
.reeding .description h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.reeding .description p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}
/*section*/
/*section*/
.reeding2{
    min-height: 600px;
    background-image: url("../img/rectangle2.jpg");
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;
}
.description{
    max-width: 285px;   
}
.reeding2 .description h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.reeding2 .description p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}
/*section*/
.reeding3{
    min-height: 600px;
    background-image: url("../img/rectangle3.jpg");
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 75px;
}
.description{
    max-width: 285px;   
}
.reeding3 .description h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.reeding3 .description p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}
/*section*/
/*section*/
.projects{
    padding: 113px 0 111px;
    background: #F7F7F7;    
}
.conteiner{
    max-width: 1168px;
    margin: auto;
}
.projects h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;    
    margin-bottom: 16px;
}
.projects p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #645C55;    
    margin-bottom: 44px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects article{
    max-width: 375px;
    position: relative;
    overflow: hidden;

}
.projects article:hover .describe{
   bottom: 0;
}
.projects article img{
    width: 100%;
}
.projects .describe{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    bottom: -100%;
    transition: 0.5s;
}
.projects .describe h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #403E3B;
}
.projects .describe h4 span{
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
    width: 100%;
}
.projects .describe a{
    background: #1B1A1A;
    border-radius: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 11px 20px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-decoration: none;
}
/*section*/